<div class="page-container">
<nav class="navbar">
  <div class="logo">LOGO</div>
  <div class="nav-links">
    <a routerLink="/" style="cursor: pointer;" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Inicio</a>
    <a routerLink="/menu-clientes-component" style="cursor: pointer;" routerLinkActive="active-link">Menú</a>
    <a routerLink="/promociones" style="cursor: pointer;" routerLinkActive="active-link">Promociones</a>
    <a style="cursor: pointer;">Contacto</a>
    <a routerLink="/carrito-compra" style="cursor: pointer;" routerLinkActive="active-link">Carrito</a>
  </div>
  <div class="auth">
    <a style="cursor: pointer;">Iniciar sesión</a>
  </div>
</nav>

  <div class="category-filters">
    @for (cat of categorias; track cat) {
    <button class="filter-btn" [class.active]="categoriaActiva === cat" (click)="seleccionarCategoria(cat)">
      {{ cat }}
    </button>
    }
  </div>

  <div class="products-grid">
    @for (producto of productosFiltrados; track producto.id) {
    <div class="product-card" (click)="abrirDetalle(producto)" style="cursor: pointer;">
      <img [src]="producto.imagen" [alt]="'Pizza ' + producto.nombre">
      <div class="card-body">
        <div class="card-header">
          <h3 class="pizza-title">{{ producto.nombre }}</h3>
          <span class="pizza-price">${{ producto.precio | number:'1.2-2' }} MXN</span>
        </div>
        <p class="pizza-desc">{{ producto.descripcion }}</p>
      </div>
    </div>
    }
  </div>
</div>